<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @list.active %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @list.total_price %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
