<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<p>
  <strong>Active:</strong>
  <%= @list.active %>
</p>
<p>
  <strong>Final price:</strong>
  <% if @skus_quantity.nil?  %>
    <span> - </span>
  <% else %>
    <%= total_price(@skus_quantity)  %>
  <% end %>
</p>
<p>
  <strong>Products:</strong>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Products</th>
        <th>Price per item:</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody>
      <% @skus_quantity.each do |sq| %>
        <tr id="product-list-id-<%= sq[:product_list].id %>" >
          <td>
            <%= sq[:sku].display_name %>
            <%= link_to '',
              list_remove_product_list_path(product_list_id: sq[:product_list]),
              method: :delete, data: { confirm: 'Are you sure?' },
              class: "delete-product-list btn btn-sm btn-danger glyphicon glyphicon-trash pull-right",
              remote: true
            %>
          </td>
          <td>
            <%= sq[:sku].price_min %>
          </td>
          <td>
            <%= sq[:product_list].quantity %>
            <ul class="list-group pull-right">
              <li class="list-group-item">
                <%= link_to '',
                  product_lists_increase_quantity_path(id: sq[:product_list]),
                  method: :post,
                  disabled: sq[:product_list].quantity > 9,
                  class: " btn btn-xs btn-primary glyphicon glyphicon-plus" %>
              </li>
              <li class="list-group-item">
                <%= link_to '',
                  product_lists_decrease_quantity_path(id: sq[:product_list]),
                  method: :post,
                  disabled: sq[:product_list].quantity < 2,
                  class: "btn btn-xs btn-success glyphicon glyphicon-minus"%>
              </li>
            </ul>
          </td>
          <td>
            <%= sum_price(sq) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
