<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @list.active %>
</p>

<p>
  <strong>Final price:</strong>
  <% if @sku.nil?  %>
    <span> 0.00 </span>
  <% else %>
    <%= @sku.inject(0) {|sum, s| sum + s[:sku].price_min * s[:product_list].quantity }  %>
  <% end %>
</p>

<p>
  <strong>Products:</strong>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>name</th>
        <th>price per item</th>
        <th>quantity</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody>
      <% @sku.each do |s| %>
        <tr>
          <td>
            <%= s[:sku].display_name %>
          </td>
          <td>
            <%= s[:sku].price_min %>
          </td>
          <td>
            <%= s[:product_list].quantity %>
          </td>
          <td>
            <%= s[:sku].price_min * s[:product_list].quantity %>
          </td>
          <td>
            <%= link_to "", product_lists_decrease_quantity_path(id: s[:product_list]), method: :post, class: "btn btn-sm btn-success glyphicon glyphicon-minus"%>
          </td>
          <td>
            <%= link_to "", product_lists_increase_quantity_path(id: s[:product_list]), method: :post, class: " btn btn-sm btn-primary glyphicon glyphicon-plus"%>
          </td>
          <td>
            <%= link_to '', s[:product_list], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger glyphicon glyphicon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
