<div class="bs-callout bs-callout-info">
  <ul class="list-inline lists">
    <li><p class="lead"><span class="glyphicon glyphicon glyphicon-user"></span> <%= User.find(List.find(@list.id).user_id).name %></p></li>
    <li><p class="lead"><span class="glyphicon glyphicon glyphicon-th-list"></span> <%= @list.name %></p></li>
    <li>
      <p class="lead"><span class="glyphicon glyphicon glyphicon-globe"></span>
        <%if @list.active%>
          Active
        <%else%>
          Inactive
        <%end%>
      </p>
      </li>
      <li><p class="lead"><span class="glyphicon glyphicon glyphicon-shopping-cart"></span> <%= number_with_precision(list_total_price(@sku_list), precision: 2) %>€</p></li>
    
    <li>
      <a href="javascript:;;" 
              data-list-id="<%=@list.id%>" 
              <% unless @favorite_list %>
                data-method="post"  
                class="glyphicon glyphicon-heart-empty heartlink"
                data-href="/favorite_lists.json?list_id=<%=@list.id%>"
              <% else %>
                data-method="delete"  
                data-href="/favorite_lists/<%=@favorite_list.id%>.json"
                class="glyphicon glyphicon-heart heartlink"
              <% end %>
              style="font-size: 20px"
              data-toggle="tooltip" title="Add or remove this list from your Favorites!"></a>
    </li>

  </ul>
  <%= rating_for @list, 'name', disable_after_rate: false %>
</div>

<script type="text/javascript">
  $(".heartlink").click(function(){
    var el = $(this);
    var method = el.attr('data-method'); 

    $.ajax({
      method:  method,
      url: el.attr('data-href'),
      dataType: 'json',
      success: function(r) {
        if(r.resp == "ok") {
          if(method == "post") {
            // r.list.id
            el.attr('data-method', 'delete');
            el.attr('data-href', '/favorite_lists/' + r.list.id +'.json');
            el.removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
          } else {
            el.attr('data-method', 'post');
            el.attr('data-href', '/favorite_lists.json?list_id=' + el.attr('data-list-id'));
            el.removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
          }

        }
      }
    });

  });

</script>
<div class="text-center">
  <h2>Products</h2>
</div>

<table class="table table-stripped">
  <thead>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total price</th>
    <th></th>
  </thead>

  <tbody>
    <% @sku_list.each do |sku| %>
      <tr>
        <td>
          <img src="<%= sku[:sku].images['main'] %>" class="img-responsive" style="max-height: 60px" alt="<%= sku[:sku].name %>">
        </td>
        <td><%= link_to sku[:sku].name, products_preview_path(sku: sku[:sku].id) %></td>
        <td><%= number_with_precision(sku[:sku].price_min, precision: 2) %>€</td>
        <td><%= sku[:quantity] %></td>
        <td><%= number_with_precision(total_price(sku[:quantity], sku[:sku].price_min), precision: 2) %>€</td>
        <% if @list.user_id == current_user.id %>
          <td class="status"><%= link_to '', product_list_path(sku_id: sku[:sku].id, list_id: @list.id), method: "delete", data: { confirm: 'Do you really want to delete this product from your list?' }, class: 'btn btn-md btn-danger glyphicon whiteglyphicon glyphicon glyphicon-trash' %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
<div class="btn-group">
<% if @list.user_id == current_user.id %>
  <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back to Your Lists', lists_path, class: 'btn btn-warning' %>
<%= link_to 'Back to All Lists', root_path, class: 'btn btn-info' %>
</div>
