<div class="bs-callout bs-callout-info">
  <p class="lead">
    <strong>List Name:</strong>
    <%= @list.name %>
  </p>

  <p class="lead">
    <strong>Active:</strong>
    <%= @list.active %>
  </p>

  <p class="lead">
    <strong>Total price:</strong>
    <%= number_with_precision(@total_price, precision: 2) %>€
  </p>
</div>

<div class="text-center">
  <h2>Products</h2>
</div>

<table class="table table-stripped">
  <thead>
    <th>Image</th>
    <th>SKU</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <% @sku.each do |sku| %>
      <tr>
        <td>
          <img src="<%= sku.images['main'] %>" class="img-responsive" style="max-height: 60px" alt="<%= sku.name %>">
        </td>
        <td><%= sku.id %></td>
        <td><%= sku.name %></td>
        <td><%= link_to 'Show', products_preview_path(sku: sku.id), class: 'btn btn-sm btn-primary' %></td>
        <% if @list.user_id == current_user.id %>
          <td><%= link_to 'Remove', list_removeproduct_path(:sku_id=>sku.id, :list_id=>@list.id, :user_id => @list.user_id), method: :put, data: { confirm: 'Really delete this product from your list?' }, class: 'btn btn-sm btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @list.user_id == current_user.id %>
  <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back to Your Lists', lists_path, class: 'btn btn-warning' %>
<%= link_to 'Back to All Lists', root_path, class: 'btn btn-info' %>
