<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<p>
  <strong>Active:</strong>
  <%= @list.active %>
</p>
<p>
  <strong>Final price:</strong>
  <% if @skus_quantity.nil? %>
    <span> - </span>
  <% else %>
    €
    <span id="final-price">
      <%= sprintf("%.2f",total_price(@skus_quantity))  %>
    </span>
  <% end %>
</p>
<p>
  <strong>Products:</strong>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Products</th>
        <th>Price per item:</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody>
      <% @skus_quantity.each do |sq| %>
        <tr id="product-list-id-<%= sq[:product_list].id %>" >
          <td>
            <%= sq[:sku].display_name %>
            <%= link_to '',
              product_list_path(product_list_id: sq[:product_list], product_total_price: [sum_price(sq)]),
              method: :delete, data: { confirm: 'Are you sure?' },
              class: "delete-product-list btn btn-sm btn-danger glyphicon glyphicon-trash pull-right",
              remote: true
            %>
          </td>
          <td>
            €
            <%= sq[:sku_price] %>
          </td>
          <td>
            <span id="quantity-product-list-id-<%= sq[:product_list].id %>" class="name">
              <%= sq[:quantity] %>
            </span>
            <ul class="list-group pull-right">
              <li class="list-group-item">
                <%= link_to '',
                  product_lists_increase_quantity_path(id: sq[:product_list], product_price: sq[:sku_price]),
                  method: :post,
                  disabled: sq[:product_list].quantity > 9,
                  class: " btn btn-xs btn-primary glyphicon glyphicon-plus",
                  id: "inc-product-list-id-#{sq[:product_list].id}",
                  remote: true
                %>
              </li>
              <li class="list-group-item">
                <%= link_to '',
                  product_lists_decrease_quantity_path(id: sq[:product_list], product_price: sq[:sku_price]),
                  method: :post,
                  disabled: sq[:product_list].quantity < 2,
                  class: "btn btn-xs btn-success glyphicon glyphicon-minus",
                  id: "dec-product-list-id-#{sq[:product_list].id}",
                  remote: true
                %>
              </li>
            </ul>
          </td>
          <td>
            €
            <span id="product-total-price-id-<%= sq[:product_list].id %>" class="name">
              <%= sum_price(sq) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
