
<h1><%= @sku.name %></h1>
<img src="<%= @sku.images['main'] %>" alt="<%= @sku.name %>">
<p class="price">Από <%= @sku.price_min %> έως <%= @sku.price_max %></p>

<div class="add-to-list-form">
  <%= form_tag controller: :product_lists, method: "post", action: "create"  do %> 
    <%= hidden_field_tag "sku_id" , @sku.id %> 
    <%= select_tag "list_id", options_from_collection_for_select(@lists, "id", "name") %>
    <%= number_field_tag "quantity", '1', min: 1, max: 10 %>
    <%= submit_tag "Add to List" %>
  <% end %>
</div>
<br />

<br />
